<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="footer">
<footer class="border-top py-4 mt-5">
    <div class="container d-flex justify-content-between">
        <span>&copy; <span th:text="${#temporals.format(#temporals.createNow(), 'yyyy')}">2025</span>
            <span th:text="#{app.brand}">Mottu Monitor</span>. <span th:text="#{app.rights}">Todos os direitos reservados.</span>
        </span>
        <a th:href="@{/}" th:text="#{menu.home}">Home</a>
    </div>
</footer>

<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>